<div>
  <h1>Manage Books</h1>
  <menu class="list-unstyled">
    <li><a href="#/books/showAllBooks"><button type="button">List all books</button></a></li>
    <li><a href="#/books/createBook"><button type="button">Add a new book</button></a></li>
    <li><a href="#/books/updateBook"><button type="button">Update a book record</button></a></li>
    <li><a href="#/books/deleteBook"><button type="button">Delete a book record</button></a></li>
  </menu>
  <nav>
    <a href="#/main">Back to Main menu</a>
  </nav>
</div>