<div>
  <h1>Public Library: Manage employees, including managers</h1>
  <menu class="list-unstyled">
    <li>
      <a href="#/employees/showAllEmployees"><button type="button">List all employees</button></a>
    </li>
    <li>
      <a href="#/employees/createEmployee"><button type="button">Add a new employee</button></a>
    </li>
    <li>
      <a href="#/employees/updateEmployee"><button type="button">Update an employee record</button></a>
    </li>
    <li>
      <a href="#/employees/deleteEmployee"><button type="button">Delete an employee record</button></a>
    </li>
  </menu>
  <nav>
    <a href="#/main">Back to Main menu</a>
  </nav>
</div>