<div>
  <h1>Manage Publishers</h1>
  <menu class="list-unstyled">
    <li>
      <a href="#/publishers/showAllPublishers">
        <button type="button">List all publishers</button>
      </a>
    </li>
    <li>
      <a href="#/publishers/createPublisher">
        <button type="button">Add a new publisher</button>
      </a>
    </li>
    <li>
      <a href="#/publishers/updatePublisher">
        <button type="button">Update a publisher record</button>
      </a>
    </li>
    <li>
      <a href="#/publishers/deletePublisher">
        <button type="button">Delete a publisher record</button>
      </a>
    </li>
  </menu>
  <nav>
    <a href="#/main">Back to Main menu</a>
  </nav>
</div>