<div>
  <h1>Manage Authors</h1>
  <menu class="list-unstyled">
    <li>
      <a href="#/authors/showAllAuthors"><button type="button">List all authors</button></a>
    </li>
    <li>
      <a href="#/authors/createAuthor"><button type="button">Add a new author</button></a>
    </li>
    <li>
      <a href="#/authors/updateAuthor"><button type="button">Update an author record</button></a>
    </li>
    <li>
      <a href="#/authors/deleteAuthor"><button type="button">Delete an author record</button></a>
    </li>
  </menu>
  <nav>
    <a href="#/main">Back to Main menu</a>
  </nav>
</div>